
a{
    text-decoration: none;
}
button{
    border: none;
    background-color: #fff;
}

h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    color: #626262;
}
p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}
img{
    width: 420px;
    

}

.container{
    width: 901px;
    margin: 0 auto;
}
.header{
    margin-bottom: 100px;
}
.header_nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 580px;
}
.nav_link{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    text-transform: uppercase;
}
.nav_link:hover{
    color: #03a9f4;
}
.content{
    margin-bottom: 40px;
}
.content_inner{
display: flex;
flex-wrap: wrap;

}


.cart{
    width: 420px;
    display: inline-block;
    margin-bottom: 45px;
    
    
}
.cart:nth-child(2n){
    margin-left: auto;
}
.img_text{
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px ;
}
.btn{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    color: #626262;
    

}
.btn:hover{
    color: #03a9f4;
}
.btn_inner{
    display: flex;
    justify-content: space-around;
    
}